<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810834112153-tlqn1mgj0o3bgfhh14j5fvb78tp1d3a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810834112153-tlqn1mgj0o3bgfhh14j5fvb78tp1d3a9</string>
	<key>API_KEY</key>
	<string>AIzaSyCkB8o9R-TUYZx1K7tspW22XWX9Z7Y0sx0</string>
	<key>GCM_SENDER_ID</key>
	<string>810834112153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dara.supermarcheAbc</string>
	<key>PROJECT_ID</key>
	<string>supermarche-abc</string>
	<key>STORAGE_BUCKET</key>
	<string>supermarche-abc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810834112153:ios:99db77d9aaeea0f2759208</string>
</dict>
</plist>